<div class="h-100">
  <div class="header-dialog">
    <span class="title-dialog">Your security configuration</span>
    <fa-icon class="close-dialog" (click)="closeDialog()" [icon]="faTimes"></fa-icon>
  </div>
  <div class="content-dialog">
    <div class="profile-form">
      <form class="w-100 tab-form">
        <div class="row py-4">
          <div class="col-12 pl-4">
            <div class="form-group">
              <label>Username <span style="color: red;">*</span></label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{link}}</div>
                </div>
                <input type="text" class="form-control" (blur)="onChangeUsername()" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
              </div>
              <span *ngIf="usernameExisted" style="color: red; text-align: right;font-size: 0.9em">Username is not available!</span>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" name="city" class="form-control" [ngModel]="user.email" disabled
                     [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group password-reset">
              <label>Password</label>
              <br/>
              <span *ngIf="sentEmail" style="font-size: 0.8em;">We’ve sent an email to {{user.email}} with a link to reset your password.</span>
              <button (click)="sendPasswordResetLink()">Send me password-reset link</button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-between align-items-center px-4 py-3 footer-btn">
          <p class="m-0"><span style="color: red;">*</span> Required fields</p>
          <div>
            <button class="btn btn-light mr-1" (click)="cancel()">Cancel</button>
            <button class="btn raku-btn" (click)="update()">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
