<header>
  <div class="bar-container">
    <div class="header-left">
      <div class="header-logo float-left">
        <a href="/" title="Home" class="header-logo-link"></a>
      </div>
      <div class="header-left-nav float-left">
        <ul class="header-list-nav float-left">
          <li>
            <a href="/" class="selected">Home</a>
          </li>
          <li>
            <a href="/">Stream</a>
          </li>
          <li>
            <a href="/">Library</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-center">
      <div class="header-search">
        <form class="search-form">
          <input class="search-input" placeholder="Search" autocomplete="false">
          <button class="search-submit" type="submit"></button>
        </form>
      </div>
    </div>
    <div class="header-right">
      <a href="/" class="try-pro-link">Try Pro</a>
      <div class="header-uploader float-left">
        <a href="/" class="header-upload-link">Upload</a>
      </div>
      <div class="header-user-nav float-left p-0">
        <a href="/" class="header-user-nav-button">
          <div class="header-user-avatar">
            <span class="avatar-image" style="background-image: url('https://i1.sndcdn.com/avatars-000325402181-0z0ovj-t50x50.jpg'); width: 26px; height: 26px; opacity: 1;"></span>
          </div>
          <div class="header-user-name float-left">
            <div class="user-name">
              <span>Username</span>
            </div>
          </div>
        </a>
        <a href="/" class="header-notification-button">
          <div class="noti-icon activities">
          </div>
        </a>
        <a href="/" class="header-message-button">
          <div class="noti-icon messages">
          </div>
        </a>
      </div>
      <ul class="header-list-menu float-left p-0">
        <li>
          <a href="/" class="header-more-menu"></a>
        </li>
      </ul>
    </div>
  </div>
</header>
