<div *ngIf="loggedInUser">
  Logged in
</div>
<div *ngIf="!loggedInUser">
  <div class="banner d-flex flex-column justify-content-center align-items-start pl-4">
    <h1 style="font-size: 3.5em">
      Connect on Raku Music
    </h1>
    <p class="w-50" style="font-size: 1.1em">Discover, stream, and share a constantly expanding mix of music
      from emerging and major artists around the world.</p>
    <button (click)="showSignupDialog()" class="sign-up-btn">Sign up for free</button>
  </div>
</div>
<div class="top-carousel mt-4 px-3">
  <h3 class="px-1 mb-3 border-bottom">HOT! TOP 40</h3>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let track of top40">
      <ng-template carouselSlide>
        <div class="track-item">
          <div class="image">
            <div class="background"
                 [style]="track.imageUrl ? ('background-image: url(' + track.imageUrl + ')') : 'background-image: linear-gradient(135deg, #846170, #70929c);'">
            </div>
            <fa-icon (click)="onTrackPlay(track)" class="play-btn" [icon]="faPlay"></fa-icon>
          </div>
          <p class="pointer my-1" [routerLink]="track.link">{{track.title}}</p>
          <p class="pointer uploader" [routerLink]="'/' + track.uploader.username">{{track.uploader.name}}</p>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

<div class="top-carousel mt-4 px-3">
  <h3 class="px-1 mb-3 border-bottom">NEWEST UPLOAD TRACKS</h3>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let track of newestTracks">
      <ng-template carouselSlide>
        <div class="track-item">
          <div class="image">
            <div class="background"
                 [style]="track.imageUrl ? ('background-image: url(' + track.imageUrl + ')') : 'background-image: linear-gradient(135deg, #846170, #70929c);'">
            </div>
            <fa-icon (click)="onTrackPlay(track)" class="play-btn" [icon]="faPlay"></fa-icon>
          </div>
          <p class="pointer my-1" [routerLink]="track.link">{{track.title}}</p>
          <p class="pointer uploader" [routerLink]="'/' + track.uploader.username">{{track.uploader.name}}</p>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

<div class="footer mx-4 mt-4 pt-3 border-top">
  <a href="#" class="mr-2">About us</a>
  <a href="#" class="mr-2">Developer</a>
  <a href="#" class="mr-2">Privacy</a>
  <a href="#" class="mr-2">Contact us</a>
  <br/>
  <br/>
  <p>© 2020 Raku, Inc.</p>
</div>
