<div *ngIf="trackQueue != null && trackQueue.length > 0"
     [class.invisible]="trackQueue == null || trackQueue.length <= 0"
     class="player-footer fixed-bottom d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="plyr-audio-player-controls d-flex justify-content-center align-items-center">
        <fa-icon class="mx-3" [icon]="faStepBackward" (click)="previousAudio()"></fa-icon>
        <fa-icon class="mx-3" [icon]="faPlay" (click)="playAudio(true)" *ngIf="!isPlaying"></fa-icon>
        <fa-icon class="mx-3" [icon]="faPause" (click)="pauseAudio()" *ngIf="isPlaying"></fa-icon>
        <fa-icon class="mx-3" [icon]="faStepForward" (click)="nextAudio()"></fa-icon>
        <fa-icon class="mx-3" [icon]="faRandom"></fa-icon>
        <img *ngIf="loopType == typeOfLoop.NONE" (click)="loopAudio()" class="no-repeat-control mx-1" title="No-repeat"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo="/>
        <img *ngIf="loopType == typeOfLoop.ALL" (click)="loopAudio()" class="no-repeat-control mx-1"
             title="Repeat queue"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2Y1MCIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo="/>
        <img *ngIf="loopType == typeOfLoop.ONE" (click)="loopAudio()" class="no-repeat-control mx-1"
             title="Repeat current track"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2Y1MCIgZD0iTTExLjAyNyAxNmE0LjU1IDQuNTUgMCAwIDAgLjIzIDJIOUE2IDYgMCAxIDEgOSA2aDNWNGw0IDMtNCAzVjhIOWE0IDQgMCAxIDAgMCA4aDIuMDI3em03LjcyNS0yLjYxYTMuOTk3IDMuOTk3IDAgMCAwLTEuNjQ4LTQuNzkybDEuNzctMS4xOC4wMi4wMTdBNS45ODcgNS45ODcgMCAwIDEgMjEgMTJjMCAxLjMtLjQxMyAyLjUwMy0xLjExNiAzLjQ4NmE0LjQ5NiA0LjQ5NiAwIDAgMC0xLjEzMi0yLjA5NnoiLz48cGF0aCBmaWxsPSIjZjUwIiBkPSJNMTUuNSAyMGEzLjUgMy41IDAgMSAxIDAtNyAzLjUgMy41IDAgMCAxIDAgN3ptLS41LTV2NGgxdi00aC0xem0tMSAwdjFoMXYtMWgtMXoiLz48L3N2Zz4K"/>
      </div>
      <div plyr class="plyr-audio-player" plyrType="audio"
           [plyrSources]="currentAudio"
           (plyrInit)="onInitPlayer($event)"
           (plyrPlay)="onPlayAudio()"
           (plyrPause)="onPauseAudio()"
           (plyrEnded)="onTrackEnd()">
      </div>
      <div class="playing-audio d-flex justify-content-start align-items-center">
        <img [routerLink]="trackQueue[currTrackIdx].link" *ngIf="trackQueue[currTrackIdx]?.imageUrl"
             class="album-photo-playing-audio pointer rounded"
             src="{{trackQueue[currTrackIdx].imageUrl}}">
        <div [routerLink]="trackQueue[currTrackIdx].link" *ngIf="!trackQueue[currTrackIdx]?.imageUrl"
             class="audio-image pointer"></div>
        <div class="d-flex flex-column ml-2">
          <span [routerLink]="trackQueue[currTrackIdx].link"
                class="playing-audio-title pointer">{{trackQueue[currTrackIdx].title}}</span>
          <span [routerLink]="'/' + trackQueue[currTrackIdx].uploader.username"
                class="playing-audio-artist pointer">{{trackQueue[currTrackIdx].uploader.name}}</span>
        </div>
      </div>
      <div class="plyr-audio-player-controls d-flex justify-content-center align-items-center">
        <fa-icon (click)="likeCurrentTrack(trackQueue[currTrackIdx])" class="mx-2"
                 [class.active-btn]="currentUserTrackInfo?.like" [icon]="faHeart"></fa-icon>
      </div>
      <div class="plyr-audio-player-controls d-flex justify-content-center align-items-center ml-2 playing-queue"
           (click)="showTrackQueue()" [class.show-queue]="isShowTrackQueue">
        <svg width="24" height="24">
          <path fill="#333" class="playbackSoundBadge__queueIcon"
                d="M6 11h12v2H6zM6 7h8v2H6zM6 15h12v2H6zM16 3v6l4-3z"></path>
        </svg>
      </div>
      <div class="song-queue" [class.queue-visible]="isShowTrackQueue">
        <div class="queue">
          <div class="queue-panel px-4 py-1">
            <div class="queue-title" (click)="showTrackQueue()">
              Next up
            </div>
            <button type="button" class="queue-clear-all mr-4" (click)="removeAllTracksInQueue()">Clear</button>
            <button type="button" class="queue-close" (click)="showTrackQueue()">
              <fa-icon [icon]="faChevronDown"></fa-icon>
            </button>
          </div>
          <div class="queue-scroll">
            <ng-container *ngIf="trackQueue != null && trackQueue.length > 0">
              <div *ngFor="let track of trackQueue; index as idx" class="queue-item"
                   [class.playing-piece]="idx === currTrackIdx" [class.played-piece]="idx < currTrackIdx">
                <div class="queue-item-view">
                  <div class="queue-item-artwork">
                    <span *ngIf="track.imageUrl" style="{{'background-image: url(' + track.imageUrl + ');'}}"></span>
                    <span *ngIf="!track.imageUrl"
                          style="background-image: linear-gradient(135deg, #846170, #70929c);"></span>
                    <fa-icon [icon]="faPlay" class="item-view-button item-view-btn-play"
                             (click)="playFromQueue(idx)"
                             [style.visibility]="(!isPlaying && idx === currTrackIdx) ? 'visible' : ((isPlaying && idx === currTrackIdx) ? 'hidden' : '')">
                    </fa-icon>
                    <fa-icon [icon]="faPause" class="item-view-button"
                             (click)="pauseFromQueue()"
                             [class.item-view-btn-pause]="isPlaying">
                    </fa-icon>
                  </div>
                  <div class="queue-item-details">
                    <div class="queue-item-title">
                      <a [routerLink]="track.link">{{track.title}}</a>
                    </div>
                    <div class="queue-item-artist">
                      <a [routerLink]="'/' + track.uploader.username">{{track.uploader.name}}</a>
                    </div>
                  </div>
                  <div class="queue-item-duration" [class.d-none]="idx === currTrackIdx">
                    {{track.duration}}
                  </div>
                  <div class="queue-item-actions" [class.d-block]="idx === currTrackIdx">
                    <fa-icon (click)="likeTrack(track, idx)" [class.active-btn]="userTrackInfo[idx]?.like" class="mx-2"
                             [icon]="faHeart"></fa-icon>
                    <fa-icon class="mx-2" [icon]="faEllipsis"></fa-icon>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
