<div class="track-play row mx-0 justify-content-between">
  <div class="audio-wave-play d-flex flex-column justify-content-between">
    <div class="row">
      <div class="col-9 d-flex justify-content-start">
        <div class="ml-2 d-flex justify-content-center">
          <div class="play-btn">
            <fa-icon
              *ngIf="(song?.code == appService.getCurrentSong()?.code && !isPlaying) || song?.code != appService.getCurrentSong()?.code"
              [icon]="faPlay" class="item-view-button item-view-btn-play pointer"
              (click)="playTrack()">
            </fa-icon>
            <fa-icon *ngIf="song?.code == appService.getCurrentSong()?.code && isPlaying" [icon]="faPause"
                     class="item-view-button pointer"
                     (click)="pauseTrack()">
            </fa-icon>
          </div>
        </div>
        <div class="pl-3">
          <div>
            <a [routerLink]="'/' + username" class="uploader">{{song?.uploader.name}}</a>
          </div>
          <div class="track-title">{{song?.title}}</div>
        </div>
      </div>
      <div class="col-3 pr-0 d-flex justify-content-center align-items-end flex-column">
        <div class="text-light pb-4 upload-time">{{convertTimespan(song?.uploadTime)}}</div>
        <div *ngIf="song?.tags">
          <a [routerLink]="'/tags/' + tag.substr(1, tag.length-1)" class="tag-chip"
             *ngFor="let tag of song.tags">{{tag}}</a>
        </div>
      </div>
    </div>
    <div class="wave-area">
      <span *ngIf="this.currTimeStr != null" class="curr-time">{{this.currTimeStr}}</span>
      <div id="audio-wave"></div>
      <span *ngIf="this.durationStr != null" class="duration">{{this.durationStr}}</span>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center audio-art">
    <img *ngIf="song?.imageUrl" class="audio-image" [src]="song.imageUrl">
    <div *ngIf="!song?.imageUrl" class="non-image-audio"></div>
  </div>
</div>
<div class="row mx-0 content-track">
  <div class="col-8 ml-2">
    <div class="row justify-content-between align-items-center mb-3 pb-3" style="border-bottom: 1px solid #d6d6d6;">
      <div class="track-react d-flex justify-content-start align-items-center">
        <button (click)="likeTrack()" [class.active-btn]="userTrackInfo?.like">
          <fa-icon [icon]="faHeart"></fa-icon>
          {{userTrackInfo?.like ? "Liked" : "Like"}}
        </button>
        <button (click)="repostTrack()" [class.d-none]="user?.username === song?.uploader.username"
                [class.active-btn]="userTrackInfo?.repost">
          <fa-icon [icon]="faPaperclip"></fa-icon>
          {{userTrackInfo?.repost ? "Reposted" : "Repost"}}
        </button>
        <button>
          <fa-icon [icon]="faShare"></fa-icon>
          Share
        </button>
        <button>
          <svg width="22" height="22">
            <path fill="#333" class="playbackSoundBadge__queueIcon"
                  d="M6 11h12v2H6zM6 7h8v2H6zM6 15h12v2H6zM16 3v6l4-3z"></path>
          </svg>
          Add to Next up
        </button>
        <button>
          <fa-icon [icon]="faList"></fa-icon>
          Add to playlist
        </button>
      </div>
      <div class="track-stats">
        <span><fa-icon [icon]="faHeadphones"></fa-icon>{{trackStats?.plays}}</span>
        <span><fa-icon [icon]="faHeart"></fa-icon>{{trackStats?.like}}</span>
        <span><fa-icon [icon]="faCommentAlt"></fa-icon>{{trackStats?.comment}}</span>
        <span><fa-icon [icon]="faPaperclip"></fa-icon>{{trackStats?.repost}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 d-flex flex-column justify-content-start align-items-center">
        <img [routerLink]="'/' + song?.uploader?.username" class="avatar-image pointer"
             [src]="song?.uploader?.imageUrl ? song?.uploader?.imageUrl : '/assets/images/avatar.png'"
             referrerpolicy="no-referrer"/>
        <span [routerLink]="'/' + song?.uploader?.username" class="uploader-name pointer">
          {{song?.uploader?.name}}
        </span>
        <div class="uploader-stats">
          <span [routerLink]="'/' + song?.uploader?.username + '/followers'" class="mr-2 pointer">
            <fa-icon class="mr-1" [icon]="faUserCheck"></fa-icon> {{uploaderStats?.followers}}
          </span>
          <span [routerLink]="'/' + song?.uploader?.username + '/tracks'" class="pointer">
            <fa-icon class="mr-1" [icon]="faMusic"></fa-icon>{{uploaderStats?.tracks}}
          </span>
        </div>
        <div class="follow-uploader">
          <button (click)="followUploader()" [class.d-none]="user?.username === song?.uploader.username">
            <span [class.d-none]="uploaderStats?.youFollowing">
              <fa-icon class="mr-1" [icon]="faUserPlus"></fa-icon>
              Follow
            </span>
            <span [class.d-none]="!uploaderStats?.youFollowing">
              <fa-icon class="mr-1" [icon]="faUserCheck"></fa-icon>
              Followed
            </span>
          </button>
        </div>
      </div>
      <div class="col-10">
        <div>
          <p *ngIf="song?.description">
            {{song.description}}
          </p>
        </div>
        <div>
          <div class="leave-comment mb-2">
            <img [src]="user?.imageUrl ? user?.imageUrl : '/assets/images/avatar.png'"
                 referrerpolicy="no-referrer"
                 style="width: 35px; height: 35px; opacity: 1; margin-bottom: 2px; margin-left: 2px"/>
            <input (keyup.enter)="comment($event)" class="comment-inp" placeholder="Leave a comment" type="text">
          </div>
          <!--<div class="comment-counts">
            <span><fa-icon [icon]="faCommentAlt"></fa-icon> 12 comments</span>
          </div>-->
          <div class="comment-area">
            <ng-container *ngIf="song?.comments != null && song?.comments.length > 0">
              <commentor *ngFor="let cmt of song?.comments" [comment]="cmt" [cur-user]="user" (reloadComment)="reloadComment()"></commentor>
            </ng-container>
            <ng-container *ngIf="song?.comments == null || song?.comments.length == 0">
              <p class="text-muted">Be the first to comment on this track</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
  </div>
</div>
