<div class="track-play row mx-0 justify-content-between">
  <div class="audio-wave-play d-flex flex-column justify-content-between">
    <div class="row">
      <div class="col-9 d-flex justify-content-start">
        <div class="ml-2 d-flex justify-content-center">
          <div class="play-btn">
            <fa-icon
              *ngIf="(song?.code == appService.getCurrentSong()?.code && !isPlaying) || song?.code != appService.getCurrentSong()?.code"
              [icon]="faPlay" class="item-view-button item-view-btn-play pointer"
              (click)="playTrack()">
            </fa-icon>
            <fa-icon *ngIf="song?.code == appService.getCurrentSong()?.code && isPlaying" [icon]="faPause"
                     class="item-view-button pointer"
                     (click)="pauseTrack()">
            </fa-icon>
          </div>
        </div>
        <div class="pl-3">
          <div>
            <a [routerLink]="'/' + username" class="uploader">{{song?.uploader.name}}</a>
          </div>
          <div class="track-title">{{song?.title}}</div>
        </div>
      </div>
      <div class="col-3 pr-0 d-flex justify-content-center align-items-end flex-column">
        <div class="text-light pb-4 upload-time">{{song?.uploadTime}}</div>
        <div *ngIf="song?.tags">
          <a [routerLink]="'/tags/' + tag.substr(1, tag.length-1)" class="tag-chip"
             *ngFor="let tag of song.tags">{{tag}}</a>
        </div>
      </div>
    </div>
    <div class="wave-area">
      <span *ngIf="this.currTimeStr != null" class="curr-time">{{this.currTimeStr}}</span>
      <div id="audio-wave"></div>
      <span *ngIf="this.durationStr != null" class="duration">{{this.durationStr}}</span>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center audio-art">
    <img *ngIf="song?.imageUrl" class="audio-image" [src]="song.imageUrl">
    <div *ngIf="!song?.imageUrl" class="non-image-audio"></div>
  </div>
</div>
<div class="row mx-0 content-track">
  <div class="col-8 ml-2">
    <div class="row justify-content-between align-items-center mb-3 pb-3" style="border-bottom: 1px solid #d6d6d6;">
      <div class="track-react d-flex justify-content-start align-items-center">
        <button (click)="likeTrack()">
          <fa-icon [icon]="faHeart"></fa-icon>
          Like
        </button>
        <button>
          <fa-icon [icon]="faPaperclip"></fa-icon>
          Repost
        </button>
        <button>
          <fa-icon [icon]="faShare"></fa-icon>
          Share
        </button>
        <button>
          <svg width="22" height="22">
            <path fill="#333" class="playbackSoundBadge__queueIcon"
                  d="M6 11h12v2H6zM6 7h8v2H6zM6 15h12v2H6zM16 3v6l4-3z"></path>
          </svg>
          Add to Next up
        </button>
        <button>
          <fa-icon [icon]="faEllipsisH"></fa-icon>
          More
        </button>
      </div>
      <div class="track-stats">
        <span><fa-icon [icon]="faHeadphones"></fa-icon>230</span>
        <span><fa-icon [icon]="faHeart"></fa-icon>23</span>
        <span><fa-icon [icon]="faCommentAlt"></fa-icon>12</span>
        <span><fa-icon [icon]="faPaperclip"></fa-icon>12</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 d-flex flex-column justify-content-start align-items-center">
        <img [routerLink]="'/' + song?.uploader?.username" class="avatar-image pointer"
             [src]="song?.uploader?.imageUrl ? song?.uploader?.imageUrl : '/assets/images/avatar.png'"
             referrerpolicy="no-referrer"/>
        <span [routerLink]="'/' + song?.uploader?.username" class="uploader-name pointer">
          {{song?.uploader?.name}}
        </span>
        <div class="uploader-stats">
          <span [routerLink]="'/' + song?.uploader?.username + '/followers'" class="mr-2 pointer"><fa-icon class="mr-1" [icon]="faUserCheck"></fa-icon>231</span>
          <span [routerLink]="'/' + song?.uploader?.username + '/tracks'" class="pointer"><fa-icon class="mr-1" [icon]="faMusic"></fa-icon>21</span>
        </div>
        <div class="follow-uploader">
          <button>
            <fa-icon class="mr-1" [icon]="faUserPlus"></fa-icon>
            Follow
          </button>
        </div>
      </div>
      <div class="col-10">
        <div>
          <p>
            ♥ Với Album Độc Tấu Guitar Trịnh Công Sơn này, người nghe sẽ có những cảm xúc khó quên, ngoài tiếng đàn
            guitar điêu luyện cùng giai điệu nhẹ nhàng nhưng sâu lắng của Nhạc Trịnh
            ♥ Xem trọn Video với Hình ảnh đẹp tại đây: nhackhongloi.mobi/doc-tau-guitar-t…t_44b16ad83.html
            ♥ Các bạn có thể nghe thêm Nhạc Không Lời Trịnh Công Sơn tại đây:
            nhackhongloi.mobi/browse-trinh-con…deos-1-date.html
            ♥ Với Album Độc Tấu Guitar Trịnh Công Sơn này, người nghe sẽ có những cảm xúc khó quên, ngoài tiếng đàn
            guitar điêu luyện cùng giai điệu nhẹ nhàng nhưng sâu lắng của Nhạc Trịnh
            ♥ Xem trọn Video với Hình ảnh đẹp tại đây: nhackhongloi.mobi/doc-tau-guitar-t…t_44b16ad83.html
            ♥ Các bạn có thể nghe thêm Nhạc Không Lời Trịnh Công Sơn tại đây:
            nhackhongloi.mobi/browse-trinh-con…deos-1-date.html
            ♥ Với Album Độc Tấu Guitar Trịnh Công Sơn này, người nghe sẽ có những cảm xúc khó quên, ngoài tiếng đàn
            guitar điêu luyện cùng giai điệu nhẹ nhàng nhưng sâu lắng của Nhạc Trịnh
            ♥ Xem trọn Video với Hình ảnh đẹp tại đây: nhackhongloi.mobi/doc-tau-guitar-t…t_44b16ad83.html
            ♥ Các bạn có thể nghe thêm Nhạc Không Lời Trịnh Công Sơn tại đây:
            nhackhongloi.mobi/browse-trinh-con…deos-1-date.html
          </p>
        </div>
        <div>
          <div class="leave-comment mb-2">
            <img [src]="user?.imageUrl ? user?.imageUrl : '/assets/images/avatar.png'"
                 referrerpolicy="no-referrer" style="width: 35px; height: 35px; opacity: 1;"/>
            <input class="comment-inp" placeholder="Leave a comment" type="text">
          </div>
          <!--<div class="comment-counts">
            <span><fa-icon [icon]="faCommentAlt"></fa-icon> 12 comments</span>
          </div>-->
          <div class="comment-area">
            <commentor *ngFor="let cmt of song?.comments" [comment]="cmt" [cur-user]="user"></commentor>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
  </div>
</div>
