<header>
  <div class="bar-container">
    <div class="header-left">
      <div class="header-logo float-left">
        <a routerLink="/" title="Home" class="header-logo-link"></a>
      </div>
      <div class="header-left-nav float-left">
        <ul class="header-list-nav float-left">
          <li>
            <a href="/" class="selected">Home</a>
          </li>
          <li>
            <a href="/">Stream</a>
          </li>
          <li>
            <a href="/">Library</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-center">
      <div class="header-search">
        <form class="search-form">
          <input class="search-input" placeholder="Search" autocomplete="false">
          <button class="search-submit" type="submit"></button>
        </form>
      </div>
    </div>
    <div class="header-right d-flex justify-content-start align-items-center ml-2" *ngIf="!isAuthenticated">
      <button id="signInBtn" (click)="showSignInUpDialog('signin')">Sign In</button>
      <button id="signUpBtn" (click)="showSignInUpDialog('signup')">Create an account</button>
    </div>
    <div class="header-right" *ngIf="isAuthenticated">
      <a href="/" class="try-pro-link">Try Pro</a>
      <div class="header-uploader float-left">
        <a routerLink="/upload" class="header-upload-link">Upload</a>
      </div>
      <div class="header-user-nav float-left p-0">
        <a class="header-user-nav-button" (click)="showProfileMenu = !showProfileMenu">
          <div class="header-user-avatar">
            <img class="avatar-image" [src]="userInfo.imageUrl ? userInfo.imageUrl : '/assets/images/avatar.png'" referrerpolicy="no-referrer" style="width: 26px; height: 26px; opacity: 1;"/>
          </div>
          <div class="header-user-name float-left">
            <div class="user-name">
              <span>{{userInfo.name}}</span>
            </div>
          </div>
        </a>
        <a href="/" class="header-notification-button">
          <div class="noti-icon activities">
          </div>
        </a>
        <a href="/" class="header-message-button">
          <div class="noti-icon messages">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="user-profile-dropdown" [class.d-none]="!showProfileMenu || !isAuthenticated">
    <div class="profile-menu">
      <ul class="menu-list">
        <li>
          <a class="menu-item"><fa-icon [icon]="faUser" class="ml-1 mr-2"></fa-icon>Profile</a>
        </li>
        <li>
          <a class="menu-item"><fa-icon [icon]="faCog" class="ml-1 mr-2"></fa-icon>Settings</a>
        </li>
        <li (click)="logout()">
          <span class="menu-item"><fa-icon [icon]="faSignOut" class="ml-1 mr-2"></fa-icon>Sign out</span>
        </li>
      </ul>
    </div>
  </div>
</header>
