<div class="comment-item d-flex justify-content-start align-items-center">
  <img [routerLink]="'/' + cmt.uploader?.username"
       [src]="cmt.uploader?.imageUrl ? cmt.uploader?.imageUrl : '/assets/images/avatar.png'"
       referrerpolicy="no-referrer" class="pointer"/>
  <div class="comment-left">
    <div class="d-flex justify-content-between">
      <span [routerLink]="'/' + cmt.uploader?.username" class="commenter pointer">{{cmt.uploader?.name}}</span>
      <span class="time-span">{{convertTimespan(cmt?.time)}}</span>
    </div>
    <div class="content d-flex justify-content-between align-items-center mt-1">
      <div>
        {{cmt.content}}
      </div>
      <div>
        <button class="reply-btn" (click)="displayReply()">
          <fa-icon [icon]="faReply"></fa-icon>
          Reply
        </button>
        <button class="delete-btn ml-1" [class.d-none]="cmt.uploader.username != user.username" (click)="delete(cmt)">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="pl-3 border-left">
  <div [class.d-none]="!showReply" class="leave-comment mt-2">
    <img [src]="user?.imageUrl ? user?.imageUrl : '/assets/images/avatar.png'"
         referrerpolicy="no-referrer" style="width: 35px; height: 35px; opacity: 1;"/>
    <input #ReplyInput (keyup.enter)="comment($event)" class="comment-inp" placeholder="Reply this comment" type="text">
  </div>
  <ng-container *ngIf="cmt.children?.length > 0">
    <commentor *ngFor="let c of cmt.children" [comment]="c" [cur-user]="user" (reloadComment)="reload()"></commentor>
  </ng-container>
</div>
