<div class="h-100">
  <div class="header-dialog">
    <span class="title-dialog">Edit Your Profile</span>
    <fa-icon class="close-dialog" (click)="closeDialog()" [icon]="faTimes"></fa-icon>
  </div>
  <div class="content-dialog">
    <div class="profile-form">
      <form class="w-100 tab-form">
        <div class="row py-4">
          <div class="col-4">
            <div *ngIf="user?.imageUrl && image == null">
              <img #AvatarImage class="avatar-image-origin" [src]="user.imageUrl">
            </div>
            <ng-container *ngIf="!user?.imageUrl || image != null">
              <div *ngIf="imageBase64 != null && imageBase64 != undefined" style="width: 260px; height: 260px">
                <img #AvatarImage class="avatar-image-crop" [src]="'data:image/jpeg;base64,' + imageBase64">
              </div>
              <div *ngIf="imageBase64 == null || imageBase64 == undefined" class="image-avatar">
              </div>
            </ng-container>
            <button [class.upload-image-avatar-btn]="image == null"
                    [class.upload-image-avatar-btn-re]="image != null"
                    (click)="openUploadImage()">
              <fa-icon [icon]="faCamera" class="mr-1"></fa-icon>
              {{image == null ? 'Upload Image' : 'Replace Image'}}
            </button>
            <input #UploadImageInp (change)="handleUploadImage($event)" type="file" hidden
                   accept=".png, .jpg, .jpeg">
          </div>
          <div class="col-8 pl-4">
            <div class="form-group">
              <label>Your name <span style="color: red;">*</span></label>
              <input type="text" name="name" class="form-control" [(ngModel)]="user.name"
                     [ngModelOptions]="{standalone: true}">
            </div>
            <!--<div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">{{link}}</div>
              </div>
              <input type="text" class="form-control" [(ngModel)]="code" [ngModelOptions]="{standalone: true}">
            </div>-->
            <div class="form-row">
              <div class="form-group col-6">
                <label>City</label>
                <input type="text" name="city" class="form-control" [(ngModel)]="user.city"
                       [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group col-6">
                <label>Country</label>
                <input type="text" name="country" class="form-control" [(ngModel)]="user.country"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="form-group">
              <label>Bio</label>
              <textarea [(ngModel)]="user.bio" class="form-control" rows="3"
                        [ngModelOptions]="{standalone: true}" [rows]="6"></textarea>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-between align-items-center px-4 py-3 footer-btn">
          <p class="m-0"><span style="color: red;">*</span> Required fields</p>
          <div>
            <button class="btn btn-light mr-1" (click)="cancel()">Cancel</button>
            <button class="btn raku-btn" (click)="update()">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
